body {
    background-image: url(images/fundoBrancoGeometrico.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0px;
    background-color: rgb(54 36 93);
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    
}

div{
    background-color: rgb(255, 255, 255);
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px 0px rgba(151,151,151,0.75);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;

}

select{
    padding: 12px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

input{
    padding: 12px;
    border-radius: 8px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 16px;
}

h3{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    background-color: rgb(240, 121, 23);
    padding: 8px;
    border-radius: 30px;
    margin-top: 10px;
}

button{
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(249, 197, 84);
    border-color:  rgb(255, 255, 255);
    color: #ffffff;
    transition: background 0.3s ease;
}

button:hover{
    background-color: rgb(174, 132, 41);
}

label{
    margin-bottom: 2px;
    margin-top: 3px;
    font-weight: bold;
    font-size: 16px;
}

h4{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    background-color: rgb(40 139 178);
    padding: 5px;
    border-radius: 30px;  
    margin-top: 5px;
    margin-bottom: 5px;
}

img{
    height: 400px;
    width: auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

h2{
    text-align: center;
    margin: 0px;
    color: rgb(54 36 93);
    font-size: 20px;
}

h5{
    font-size: 16px;
    margin: 0px;
}

#relogio{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#local{
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

t2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(232 64 113);

}


@media (prefers-color-scheme: dark){
    body {
    background-image: url(images/imagemFundoPreto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    h1{
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 0px;
        background-color: rgb(55 25 80);
        padding: 15px;
        border-radius: 30px;
        font-size: 20px;
        
    }

    div{
        background-color: rgb(53, 53, 53);
        width: 900px;
        max-width: 90%;
        margin: 0 auto;
        box-shadow: 10px 10px 5px 0px rgba(151,151,151,0.75);
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid gray;

    }

    select{
        padding: 12px;
        border-radius: 8px;
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        background-color: #ffffff;
    }

    p{
        color: rgb(255, 255, 255);
        font-size: 16px;
    }

    h3{
        color:rgb(255, 255, 255);
        text-align: center;
        font-size: 15px;
        background-color: rgb(188 88 19);
        padding: 8px;
        border-radius: 30px;
        margin-top: 10px;
    }

    label{
        margin-bottom: 2px;
        margin-top: 3px;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
    }

    h2{
        text-align: center;
        margin: 0px;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    t{
        color: #ffffff;
    }

}

